<!DOCTYPE HTML>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
    <div layout:fragment="main">
    	<th:block layout:fragment="css">
			<style>
				.input-group .inputDt { /* 날짜 부분 */
					display: inline-block;
					width: 70%; 
					margin-right: 0.5em;
					cursor: pointer;
				}
				.labelDt { /* 날짜 아이콘 */
					display: inline-block; 
					cursor: pointer;
				}
				/* datepicker */
				.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
					width: 20%;
					display: inline-block;
					background-image: none;
					text-align: right;
					padding: 0;
					margin: 0;
					border: none;
					background-color: inherit;
					cursor: pointer;
					font-weight: bold;
				}
				.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
					position: absolute;
					top: 0;
					width: 1.8em;
					height: 3em;
				}
				.ui-widget-header {
					border: none;
					background: #47c5ba57;;
				}
				.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
					color: #2ebaae !important;
				}
				.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, 
				.ui-button:active, .ui-button.ui-state-active:hover {
					background: #b1b0b0 !important;
					color: #ffffff !important;
					border-radius: 50%;
				}
				.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, 
				html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
					border: none;
					background: inherit;
					text-align: center;
				}
				.ui-widget-content .ui-state-hover {
					background: #47c5ba57;
					border-radius: 50%;
				}
				.ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,
				.ui-widget-header .ui-state-focus,.ui-button:hover,.ui-button:focus {
					border: none;
					background: inherit;
					font-weight: normal;
					color: inherit;
					cursor: pointer;
				}
				/* datepicker */
				.simpleTables {
					width: 90%; 
					margin-left: auto; 
					margin-right: auto;
					display: inline-table;
				}
				.images {
					display: inline-block;
					width: 45%;
					height: 20em;
					border: 1px solid rgba(160, 160, 160, 0.3);
					line-height: 20em;
					position: relative;
					vertical-align: bottom;
				}
			</style>
		</th:block>
		<div id="main">
			<!-- Post -->
			<article class="post">
				<header style="border-bottom: none; margin-bottom: 1.5em;">
					<div class="title" style="padding-bottom: 0; padding-left: 5em; text-align: center;">
						<h2>WRITE POST</h2>
						<p style="font-size: 0.8em; margin-top: -2em;">게시글 작성하기</p>
					</div>
				</header>
				<form action="createPost" method="post" id="postCreateForm" enctype="multipart/form-data">
					<table id="table" style="width: 90%; margin-left: auto; margin-right: auto;">
						<tr>
							<td align="center"><label for="postSubject" style="margin: 0; font-size: 1.2em;">제목</label></td>
							<td align="center">
								<input type="text" name="postSubject" id="postSubject" placeholder="제목을 입력하세요."/>
							</td>
						</tr>
						<tr>
							<td align="center">
								<label style="margin: 0; font-size: 1.2em;">게시글 양식</label>
							</td>
							<td>
								<input type="radio" name="postForm" value="simple" id="simple" style="margin-bottom: 0;"/>
								<label for="simple">간단한 양식</label>
								<input type="radio" name="postForm" value="standard" id="standard" style="margin-bottom: 0;"/>
								<label for="standard">기본 양식</label>
							</td>
						</tr>
						<tr>
							<td align="center"><label style="margin: 0; font-size: 1.2em;">여행 기간</label></td>
							<td align="center">
								<div class="row" style="margin-left: -2.5em;">
									<div class="input-group">
										<input type="text" id="startDt" class="inputDt" placeholder="시작 날짜" name="postStratDate" readonly="readonly"/>
										<label class="labelDt" for="startDt"><i class="fas fa-calendar-alt"></i></label>
									</div>
									<div class="text-center" style="font-size: x-large;">~ </div>
									<div class="input-group">
										<input type="text" id="endDt" class="inputDt" placeholder="종료 날짜" name="postEndDate" readonly="readonly"/>
										<label class="labelDt" for="endDt"><i class="fas fa-calendar-alt"></i></label>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td align="center"><label style="margin: 0; font-size: 1.2em;">카테고리</label></td>
							<td>
								<select title="카테고리 선택">
									<option value="">- 선택 -</option>
									<div th:each="category:${categoryDto}">
										<option th:text="${category.categoryName}" name="categoryId" th:value="${category.categoryId}"></option>
									</div>
								</select>
							</td>
						</tr>
						<tr>
							<td align="center"><label style="margin: 0; font-size: 1.2em;">장소</label></td>
							<td>
								지도 선택?
							</td>
						</tr>
					</table>
					<!-- 기본 양식 -->
					<table id="standardTable" style="width: 90%; margin-left: auto; margin-right: auto;">
						<tr>
							<td>
								<input type="button" id="standardText" value="글쓰기" onclick="standardAddText()"/> <!-- 누르면 내용 쓰는 곳에 textarea 생성 후 유지시키기 -->
								<input type="file" id="standardImage1" class="standardImages" name="files" multiple="multiple"
									accept=".jpg,.png" onchange="standardAddImage(this)"/> <!-- 라이브러리에 파일 추가 후 내용 쓰는 곳에 이미지 파일 추가 -->
							</td>
						</tr>
						<tr>
							<td>
								<div id="standardContent">
									<!-- 내용 쓰는 곳 -->
									<!-- js로 글이라면 textarea를, 이미지라면 img 태그 추가하기 -->
								</div>
								<input type="hidden" name="postImageGup" id="standardImageGup" value="0"/>
								<input type="hidden" name="postContentGup" id="standardContentGup" value="0"/>
							</td>
						</tr>
					</table>
					<div align="center" style="margin-left: auto; margin-right: auto;">
						<!-- 간단 양식 -->
						<div id="simpleLeft" style="display: inline-block; cursor: pointer;">
							<i class="fas fa-chevron-left" onclick="simpleBefore()" style="font-size: 1.5em;"></i>
						</div>
						<table id="simpleTable1" class="simpleTables">
							<tr>
								<td align="center"><h2>POST1</h2><p style="margin: 0">한 POST에 사진은 4장까지 올릴 수 있습니다.</p></td>
							</tr>
							<tr>
								<td align="center">
									<div class="images" style="margin-right: 0.5em;">
										<input type="file" class="simpleImages1" id="simpleBtn1_1" name="files" multiple="multiple"
											accept=".jpg,.png" onchange="simpleLoadFile(this)"/>
										<input type="hidden" name="postImageSeq" id="simpleImageSeq1_1" value="1"/>
									</div>
									<div class="images" style="margin-top: 0.5em;">
										<input type="file" class="simpleImages1" id="simpleBtn1_2" name="files" multiple="multiple"
											accept=".jpg,.png" onchange="simpleLoadFile(this)" style="display: none;"/>
										<input type="hidden" name="postImageSeq" id="simpleImageSeq1_2" value="2"/>
									</div>
									<br/>
									<div class="images" style="margin-right: 0.5em;">
										<input type="file" class="simpleImages1" id="simpleBtn1_3" name="files" multiple="multiple"
											accept=".jpg,.png" onchange="simpleLoadFile(this)" style="display: none;"/>
										<input type="hidden" name="postImageSeq" id="simpleImageSeq1_3" value="3"/>
									</div>
									<div class="images" style="margin-top: 0.5em;">
										<input type="file" class="simpleImages1" id="simpleBtn1_4" name="files" multiple="multiple"
											accept=".jpg,.png" onchange="simpleLoadFile(this)" style="display: none;"/>
										<input type="hidden" name="postImageSeq" id="simpleImageSeq1_4" value="4"/>
									</div>
									<input type="hidden" name="postImageGup" id="simpleImageGup1" value="1"/>
								</td>
							</tr>
							<tr>
								<td align="center">
									<textarea placeholder="내용을 200자 이내로 작성하세요." id="simpleContent1" rows="5"
										style="background-color: white; width: 80%; border: 1px solid rgba(160, 160, 160, 0.3); resize: none;"></textarea>
									<input type="hidden" name="postContentGup" id="simpleContentGup1" value="1"/>
								</td>
							</tr>
						</table>
						<table id="simpleTable2" class="simpleTables">
							<tr>
								<td align="center"><h2>POST2</h2><p style="margin: 0">한 POST에 사진은 4장까지 올릴 수 있습니다.</p></td>
							</tr>
							<tr>
								<td align="center">
									<div class="images" style="margin-right: 0.5em;">
										<input type="file" class="simpleImages2" id="simpleBtn2_1" name="files" multiple="multiple"
											accept=".jpg,.png" onchange="simpleLoadFile(this)"/>
										<input type="hidden" name="postImageSeq" id="simpleImageSeq2_1" value="1"/>
									</div>
									<div class="images" style="margin-top: 0.5em;">
										<input type="file" class="simpleImages2" id="simpleBtn2_2" name="files" multiple="multiple"
											accept=".jpg,.png" onchange="simpleLoadFile(this)" style="display: none;"/>
										<input type="hidden" name="postImageSeq" id="simpleImageSeq2_2" value="2"/>
									</div>
									<br/>
									<div class="images" style="margin-right: 0.5em;">
										<input type="file" class="simpleImages2" id="simpleBtn2_3" name="files" multiple="multiple"
											accept=".jpg,.png" onchange="simpleLoadFile(this)" style="display: none;"/>
										<input type="hidden" name="postImageSeq" id="simpleImageSeq2_3" value="3"/>
									</div>
									<div class="images" style="margin-top: 0.5em;">
										<input type="file" class="simpleImages2" id="simpleBtn2_4" name="files" multiple="multiple"
											accept=".jpg,.png" onchange="simpleLoadFile(this)" style="display: none;"/>
										<input type="hidden" name="postImageSeq" id="simpleImageSeq2_4" value="4"/>
									</div>
									<input type="hidden" name="postImageGup" id="simpleImageGup2" value="2"/>
								</td>
							</tr>
							<tr>
								<td align="center">
									<textarea placeholder="내용을 200자 이내로 작성하세요." id="simpleContent2" rows="5"
										style="background-color: white; width: 80%; border: 1px solid rgba(160, 160, 160, 0.3); resize: none;"></textarea>
									<input type="hidden" name="postContentGup" id="simpleContentGup2" value="2"/>
								</td>
							</tr>
						</table>
						<table id="simpleTable3" class="simpleTables">
							<tr>
								<td align="center"><h2>POST3</h2><p style="margin: 0">한 POST에 사진은 4장까지 올릴 수 있습니다.</p></td>
							</tr>
							<tr>
								<td align="center">
									<div class="images" style="margin-right: 0.5em;">
										<input type="file" class="simpleImages3" id="simpleBtn3_1" name="files" multiple="multiple"
											accept=".jpg,.png" onchange="simpleLoadFile(this)"/>
										<input type="hidden" name="postImageSeq" id="simpleImageSeq3_1" value="1"/>
									</div>
									<div class="images" style="margin-top: 0.5em;">
										<input type="file" class="simpleImages3" id="simpleBtn3_2" name="files" multiple="multiple"
											accept=".jpg,.png" onchange="simpleLoadFile(this)" style="display: none;"/>
										<input type="hidden" name="postImageSeq" id="simpleImageSeq3_2" value="2"/>
									</div>
									<br/>
									<div class="images" style="margin-right: 0.5em;">
										<input type="file" class="simpleImages3" id="simpleBtn3_3" name="files" multiple="multiple"
											accept=".jpg,.png" onchange="simpleLoadFile(this)" style="display: none;"/>
										<input type="hidden" name="postImageSeq" id="simpleImageSeq3_3" value="3"/>
									</div>
									<div class="images" style="margin-top: 0.5em;">
										<input type="file" class="simpleImages3" id="simpleBtn3_4" name="files" multiple="multiple"
											accept=".jpg,.png" onchange="simpleLoadFile(this)" style="display: none;"/>
										<input type="hidden" name="postImageSeq" id="simpleImageSeq3_4" value="4"/>
									</div>
									<input type="hidden" name="postImageGup" id="simpleImageGup3"/>
								</td>
							</tr>
							<tr>
								<td align="center">
									<textarea placeholder="내용을 200자 이내로 작성하세요." id="simpleContent3" rows="5"
										style="background-color: white; width: 80%; border: 1px solid rgba(160, 160, 160, 0.3); resize: none;"></textarea>
									<input type="hidden" name="postContentGup" id="simpleContentGup3"/>
								</td>
							</tr>
						</table>
						<table id="simpleTable4" class="simpleTables">
							<tr>
								<td align="center"><h2>POST4</h2><p style="margin: 0">한 POST에 사진은 4장까지 올릴 수 있습니다.</p></td>
							</tr>
							<tr>
								<td align="center">
									<div class="images" style="margin-right: 0.5em;">
										<input type="file" class="simpleImages4" id="simpleBtn4_1" name="files" multiple="multiple"
											accept=".jpg,.png" onchange="simpleLoadFile(this)"/>
										<input type="hidden" name="postImageSeq" id="simpleImageSeq4_1" value="1"/>
									</div>
									<div class="images" style="margin-top: 0.5em;">
										<input type="file" class="simpleImages4" id="simpleBtn4_2" name="files" multiple="multiple"
											accept=".jpg,.png" onchange="simpleLoadFile(this)" style="display: none;"/>
										<input type="hidden" name="postImageSeq" id="simpleImageSeq4_2" value="2"/>
									</div>
									<br/>
									<div class="images" style="margin-right: 0.5em;">
										<input type="file" class="simpleImages4" id="simpleBtn4_3" name="files" multiple="multiple"
											accept=".jpg,.png" onchange="simpleLoadFile(this)" style="display: none;"/>
										<input type="hidden" name="postImageSeq" id="simpleImageSeq4_3" value="3"/>
									</div>
									<div class="images" style="margin-top: 0.5em;">
										<input type="file" class="simpleImages4" id="simpleBtn4_4" name="files" multiple="multiple"
											accept=".jpg,.png" onchange="simpleLoadFile(this)" style="display: none;"/>
										<input type="hidden" name="postImageSeq" id="simpleImageSeq4_4" value="4"/>
									</div>
									<input type="hidden" name="postImageGup" id="simpleImageGup4"/>
								</td>
							</tr>
							<tr>
								<td align="center">
									<textarea placeholder="내용을 200자 이내로 작성하세요." id="simpleContent4" rows="5"
										style="background-color: white; width: 80%; border: 1px solid rgba(160, 160, 160, 0.3); resize: none;"></textarea>
									<input type="hidden" name="postContentGup" id="simpleContentGup4"/>
								</td>
							</tr>
						</table>
						<table id="simpleTable5" class="simpleTables">
							<tr>
								<td align="center"><h2>POST5</h2><p style="margin: 0">한 POST에 사진은 4장까지 올릴 수 있습니다.</p></td>
							</tr>
							<tr>
								<td align="center">
									<div class="images" style="margin-right: 0.5em;">
										<input type="file" class="simpleImages5" id="simpleBtn5_1" name="files" multiple="multiple"
											accept=".jpg,.png" onchange="simpleLoadFile(this)"/>
										<input type="hidden" name="postImageSeq" id="simpleImageSeq5_1" value="1"/>
									</div>
									<div class="images" style="margin-top: 0.5em;">
										<input type="file" class="simpleImages5" id="simpleBtn5_2" name="files" multiple="multiple"
											accept=".jpg,.png" onchange="simpleLoadFile(this)" style="display: none;"/>
										<input type="hidden" name="postImageSeq" id="simpleImageSeq5_2" value="2"/>
									</div>
									<br/>
									<div class="images" style="margin-right: 0.5em;">
										<input type="file" class="simpleImages5" id="simpleBtn5_3" name="files" multiple="multiple"
											accept=".jpg,.png" onchange="simpleLoadFile(this)" style="display: none;"/>
										<input type="hidden" name="postImageSeq" id="simpleImageSeq5_3" value="3"/>
									</div>
									<div class="images" style="margin-top: 0.5em;">
										<input type="file" class="simpleImages5" id="simpleBtn5_4" name="files" multiple="multiple"
											accept=".jpg,.png" onchange="simpleLoadFile(this)" style="display: none;"/>
										<input type="hidden" name="postImageSeq" id="simpleImageSeq5_4" value="4"/>
									</div>
									<input type="hidden" name="postImageGup" id="simpleImageGup5"/>
								</td>
							</tr>
							<tr>
								<td align="center">
									<textarea placeholder="내용을 200자 이내로 작성하세요." id="simpleContent5" rows="5"
										style="background-color: white; width: 80%; border: 1px solid rgba(160, 160, 160, 0.3); resize: none;"></textarea>
									<input type="hidden" name="postContentGup" id="simpleContentGup5"/>
									<input type="hidden" name="postContentSeq" id="simpleContentSeq" value="0"/>
								</td>
							</tr>
						</table>
						<div id="simpleRight" style="display: inline-block; cursor: pointer;">
							<i class="fas fa-chevron-right" onclick="simpleNext()" style="font-size: 1.5em;"></i>
						</div>
					</div>
					<table id="tagTable" style="width: 90%; margin-left: auto; margin-right: auto;">
						<tr>
							<td align="center">
								태그 선택
							</td>
						</tr>
					</table>
					<div style="width: 90%; margin-left: auto; margin-right: auto; text-align: right;">
						<input type="button" value="이전" id="postBefore" onclick="before()"/>
						<input type="button" value="다음" id="postNext" onclick="next()"/>
						<input type="submit" value="저장" id="postSubmit" style="display: none;"/>
						<input type="hidden" th:value="${blogId}" name="blogId"/>
					</div>
				</form>
			</article>
		</div>
		<th:block layout:fragment="script">
			<script src="assets/js/post.js"></script>
		</th:block>
	</div>
</html>