<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <section th:fragment="menu" id="menu">
		<!-- Search -->
		<section>
			<form class="search" method="get" action="#">
				<input type="text" name="query" placeholder="Search in this blog" />
			</form>
		</section>
		<!-- Links -->
		<section>
			<ul class="links">
				<li style="text-align: center;">
					<h2>Category</h2>
				</li>
				<li>
					<div th:each="categroy:${categoryDto}">
						<!-- 메인 카테고리 -->
						<a href="" style="font-size: 1.2em; margin-bottom: 0.5em;">
							<span th:if="${categroy.categoryGup}==1 and ${categroy.categoryLev}==0" th:text="${categroy.categoryName}"></span>
						</a>
						<!-- 서브 카테고리 -->
						<span th:if="${categroy.categoryLev}==1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└ </span>
						<a href="" style="font-size: 1em; margin-bottom: 0.5em;">
							<span th:if="${categroy.categoryGup}==1 and ${categroy.categoryLev}==1" th:text="${categroy.categoryName}"></span>
						</a>
						<!-- 메인 카테고리 -->
						<a href="" style="font-size: 1.2em; margin-bottom: 0.5em;">
							<span th:if="${categroy.categoryGup}==2 and ${categroy.categoryLev}==0" th:text="${categroy.categoryName}"></span>
						</a>
						<!-- 서브 카테고리 -->
						<a href="" style="font-size: 1em; margin-bottom: 0.5em;">
							<span th:if="${categroy.categoryLev}==1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└ </span>
							<span th:if="${categroy.categoryGup}==2 and ${categroy.categoryLev}==1" th:text="${categroy.categoryName}"></span>
						</a>
					</div>
				</li>
			</ul>
		</section>
		<!-- Actions -->
		<section>
			<ul class="actions stacked">
				<li style="text-align: center;">
					<a href="mypage" class="button large fit" style="width: 45%; margin-right: 5%;">My Page</a>
					<a href="logout" class="button large fit" style="width: 45%;">Logout</a>
				</li>
			</ul>
		</section>
	</section>
</html>