<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <section th:fragment="sidebar" id="sidebar">
		<!-- Intro -->
		<section id="intro" style="margin: 0; margin-bottom: 1em;">
			<header>
				<h2 th:text="${blogDto.blogName}" style="word-break: break-word;"></h2>
				<p style="margin-bottom: 0.5em;">블로그 테마</p>
				<p th:text="${blogDto.blogThema}" style="font-size: 0.8em; font-style: italic; color: #2ebaae;"></p>
				<!-- 
				<div align="center">
					<a href="#" style="font-size: 0.9em; margin-right: 2.5em;">follower</a>
					<a href="#" style="font-size: 0.9em;">following</a>
				</div>
				 -->
			</header>
		</section>
	
		<!-- Mini Posts -->
		<section>
			<div>
				<header>
					<h3>인기글</h3>
				</header>
			</div>
			<div class="mini-posts">
				<article class="mini-post">
					<div th:if="${popularPost.size() == 0}">
						인기글이 없습니다.
					</div>
					<div th:unless="${popularPost.size() == 0}">
						<div class="miniDiv" th:each="popularPost:${popularPost}">
							<header>
									<h3><a th:href="@{/singlePost(postId=${popularPost.postId})}" th:text="${popularPost.postSubject}"></a></h3>
									<time class="published" th:text="${popularPost.postWrite}"></time>
									<a th:href="@{/singlePost(postId=${popularPost.postId})}" class="author"><img th:src="|/image1/${popularPost.postThumbnail}|" alt="" /></a>
							</header>
						</div>
					</div>
				</article>
			</div>
		</section>
		<!-- Posts List -->
		<section>
			<div>
				<header>
					<h3>최신 댓글</h3>
				</header>
			</div>
			<ul class="posts">
				<li>
					<article>
						<div th:if="${recentComment.size() == 0}">
							댓글이 없습니다.
						</div>
						<div th:unless="${recentComment.size() == 0}">
							<header th:each="recentComment:${recentComment}">
								<h3 class="comment"><a th:href="@{/singlePost(postId=${recentComment.postId})}" th:text="${recentComment.commentContent}"></a></h3>
								<time class="published" th:text="${recentComment.commentDate}"></time>
							</header>
						</div>
					</article>
				</li>
			</ul>
		</section>
		<!-- 
		<section class="blurb">
			<h2>여기엔</h2>
			<p>무얼 쓸까..</p>
			<ul class="actions">
				<li><a href="#" class="button">Learn More</a></li>
			</ul>
		</section>
		 -->
	</section>
</html>