<!DOCTYPE HTML>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
    <div layout:fragment="main">
		<div id="main">
			<!-- Post -->
			<div th:if="${postDto.size == 0}" class="title" align="center" style="padding: 3em;">
				<h2>게시글이 없습니다.</h2>
			</div>
			<div th:if="${postDto.size != 0}">
				<article th:each="postList:${postDto}" class="post">
					<header>
						<div class="title">
							<h2><a href="@{/singlePost(postId=${postList.postId})}" th:text="${postList.postSubject}"></a></h2>
						</div>
						<div class="meta">
							<time class="published" th:text="${postList.postWrite}"></time>
							<a href="mypage" class="author">
								<span th:text="${usersDto.userName}" class="name"></span>
								<img src="images/avatar.jpg" alt="" />
							</a>
						</div>
					</header>
					<a th:href="@{/singlePost(postId=${postList.postId})}" class="image featured">
						<img th:src="|/image1/${postList.postThumbnail}|" alt="" style="height: 35em; object-fit: cover;"/>
					</a>
					<footer>
						<ul class="stats">
							<li style="font-size: 0.8em;">
								<i class="fas fa-eye" title="조회수"></i>
								<span th:text="${postList.postVisits}"></span>
							</li>
							<li style="font-size: 0.8em;">
								<i class="fas fa-heart" title="좋아요수"></i>
								<span th:text="${postList.postLikes}"></span>
							</li>
							<li style="font-size: 0.8em;">
								<i class="fas fa-comment-alt" title="댓글수"></i>
								<span th:text="${postList.postComments}"></span>
							</li>
						</ul>
					</footer>
				</article>
			</div>
			<!-- Pagination -->
			<ul class="actions pagination">
				<li><a href="" class="disabled button large previous">Previous Page</a></li>
				<li><a href="#" class="button large next">Next Page</a></li>
				<!-- 다른 사람 블로그이면 작성하기 버튼 없애기 -->
				<li style="margin-left: auto;"><a href="writePost" class="button large next">Write Post</a></li>
			</ul>
		</div>
		<!-- sidebar -->
		<section th:replace="fragments/sidebar::sidebar"></section>
	</div>
</html>