<!DOCTYPE HTML>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
    <div layout:fragment="main">
		<div id="main">
			<!-- Post -->
			<div th:if="${postDto.size == 0}" class="title" align="center" style="padding: 3em;">
				<h2>게시글이 없습니다.</h2>
			</div>
			<div th:if="${postDto.size != 0}">
				<!-- 게시글 목록 나중에 구현 
				<div style="background-color: white; border: 1px solid rgba(160, 160, 160, 0.3); margin-bottom: 1em; padding: 1em 2em;">
					<h2 style="display: inline-block; margin:0; margin-right: 0.5em; margin-bottom: 0.5em;">게시글 목록</h2>
					<div th:each="postList:${postDto}" class="postListDiv" 
						style="position: relative; padding: 0.5em;">
						<a th:href="@{/singlePost(postId=${postList.postId})}" style="padding-left: 1em;">
							<span th:text="${postList.postSubject}"></span>
							<time class="published" th:text="${postList.postWrite}" style="position: absolute; right: 1em;"></time>
						</a>
					</div>
					<ul class="actions pagination" style="display: block; text-align: center; margin: 0;">
						<li style="display: inline-block; font-weight: bold;" onclick="postListBefore()">&lt;</li>
						<li style="display: inline-block; font-weight: bold;" onclick="postListNext()">&gt;</li>
					</ul>
				</div>
				 -->
				<article th:each="postList:${postDto}" class="post">
					<header>
						<div class="title">
							<h2><a href="@{/singlePost(postId=${postList.postId})}" th:text="${postList.postSubject}"></a></h2>
						</div>
						<div class="meta">
							<time class="published" th:text="${postList.postWrite}"></time>
							<a href="mypage" class="author">
								<span th:text="${usersDto.userName}" class="name"></span>
								<img src="images/avatar.jpg" alt="" />
							</a>
						</div>
					</header>
					<a th:href="@{/singlePost(postId=${postList.postId})}" class="image featured">
						<img th:src="|/image1/${postList.postThumbnail}|" alt="" style="height: 35em; object-fit: cover;"/>
					</a>
					<footer>
						<ul class="stats">
							<li style="font-size: 0.8em;">
								<i class="fas fa-eye" title="조회수"></i>
								<span th:text="${postList.postVisits}"></span>
							</li>
							<li style="font-size: 0.8em;">
								<i class="fas fa-heart" title="좋아요수"></i>
								<span th:text="${postList.postLikes}"></span>
							</li>
							<li style="font-size: 0.8em;">
								<i class="fas fa-comment-alt" title="댓글수"></i>
								<span th:text="${postList.postComments}"></span>
							</li>
						</ul>
					</footer>
				</article>
			</div>
			<!-- Pagination -->
			<ul class="actions pagination">
				<li th:if="${postDto.size != 0}">
					<a th:href="@{/main(currentPage=0)}" th:if="${currentPage == 0}" class="disabled button large previous">First Page</a>
					<a th:href="@{/main(currentPage=0)}" th:unless="${currentPage == 0}" class="button large previous">First Page</a>
				</li>
				<li th:if="${postDto.size != 0}">
					<a th:href="@{/main(currentPage=${currentPage - 1})}" th:if="${currentPage == 0}" class="disabled button large previous">Previous Page</a>
					<a th:href="@{/main(currentPage=${currentPage - 1})}" th:unless="${currentPage == 0}" class="button large previous">Previous Page</a>
				</li>
				<li th:if="${postDto.size != 0}">
					<a th:href="@{/main(currentPage=${currentPage + 1})}" th:if="${currentPage == totalPage}" class="disabled button large next">Next Page</a>
					<a th:href="@{/main(currentPage=${currentPage + 1})}" th:unless="${currentPage == totalPage}" class="button large next">Next Page</a>
				</li>
				<li th:if="${postDto.size != 0}">
					<a th:href="@{/main(currentPage=${totalPage})}" th:if="${currentPage == totalPage}" class="disabled button large next">Final Page</a>
					<a th:href="@{/main(currentPage=${totalPage})}" th:unless="${currentPage == totalPage}" class="button large next">Final Page</a>
				</li>
				<!-- 다른 사람 블로그면 작성하기 버튼 없애기 -->
				<li style="margin-left: auto;"><a href="writePost" class="button large next">Write Post</a></li>
			</ul>
		</div>
		<!-- sidebar -->
		<section th:replace="fragments/sidebar::sidebar"></section>
	</div>
</html>