<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
    <div layout:fragment="main">
    	<th:block layout:fragment="css">
			<link rel="stylesheet" href="assets/css/singlePost.css">
		</th:block>
    	<div id="main">
			<!-- Post -->
			<article class="post">
				<header>
					<div class="title">
						<h2 th:text="${postDto.postSubject}"></h2>
						<p>여행 기간: <span th:text="${postDto.postStartDate}"></span> - <span th:text="${postDto.postEndDate}"></span></p>
						<p>여행 장소: <span th:text="${postDto.postPlace}"></span></p>
					</div>
					<div class="meta">
						<time class="published" th:text="${postDto.postWrite}"></time>
						<a href="mypage" class="author">
							<span class="name" th:text="${usersDto.userName}"></span>
							<img src="images/avatar.jpg" alt="" />
						</a>
					</div>
				</header>
				<!-- 기본 양식이면 -->
				<div th:if="${postDto.postForm.toString().equals('standard')}">
					<p>기본 양식</p>
				</div>
				<!-- 간단 양식이면 -->
				<div th:if="${postDto.postForm.toString().equals('simple')}" class="simpleImageDivIf" align="center">
					<i id="simpleLeft" class="fas fa-chevron-left" onclick="simpleBefore()"></i>
					<div th:each="imagesList:${imagesList}" class="simpleImageDivEach">
						<div th:if="${imagesList.postImageGup == 1}" id="simpleImageDiv1">
							<div th:each="postImageName:${imagesList.postImageName}">
								<img alt="" th:src="|/image2/${imagesList.postImageName}|" class="simpleImage"/>
							</div>
						</div>
						<div th:if="${imagesList.postImageGup == 2}" id="simpleImageDiv2">
							<div th:each="postImageName:${imagesList.postImageName}">
								<img alt="" th:src="|/image2/${imagesList.postImageName}|" class="simpleImage"/>
							</div>
						</div>
						<div th:if="${imagesList.postImageGup == 3}" id="simpleImageDiv3">
							<div th:each="postImageName:${imagesList.postImageName}">
								<img alt="" th:src="|/image2/${imagesList.postImageName}|" class="simpleImage"/>
							</div>
						</div>
						<div th:if="${imagesList.postImageGup == 4}" id="simpleImageDiv4">
							<div th:each="postImageName:${imagesList.postImageName}">
								<img alt="" th:src="|/image2/${imagesList.postImageName}|" class="simpleImage"/>
							</div>
						</div>
						<div th:if="${imagesList.postImageGup == 5}" id="simpleImageDiv5">
							<div th:each="postImageName:${imagesList.postImageName}">
								<img alt="" th:src="|/image2/${imagesList.postImageName}|" class="simpleImage"/>
							</div>
						</div> 
					</div>
					<div th:each="textsList:${textsList}">
						<div th:if="${textsList.postTextGup == 1}" id="simpleTextDiv1" class="simpleTextDiv">
							<p th:text="${textsList.postText}"></p>
						</div>
						<div th:if="${textsList.postTextGup == 2}" id="simpleTextDiv2" class="simpleTextDiv">
							<p th:text="${textsList.postText}"></p>
						</div>
						<div th:if="${textsList.postTextGup == 3}" id="simpleTextDiv3" class="simpleTextDiv">
							<p th:text="${textsList.postText}"></p>
						</div>
						<div th:if="${textsList.postTextGup == 4}" id="simpleTextDiv4" class="simpleTextDiv">
							<p th:text="${textsList.postText}"></p>
						</div>
						<div th:if="${textsList.postTextGup == 5}" id="simpleTextDiv5" class="simpleTextDiv">
							<p th:text="${textsList.postText}"></p>
						</div>
					</div>
					<i id="simpleRight" class="fas fa-chevron-right" onclick="simpleNext()"></i>
				</div>
				<footer>
					<ul class="stats">
						<li>댓글표시</li>
					</ul>
					<ul class="stats">
						<li class="postTagLi">
							태그: 
							<div th:each="postTags:${postTags}" class="postTagDiv">
								<a href="#" class="postTags">
									#<span th:text="${postTags}"></span>
								</a>
							</div>
						</li>
						<li><i class="far fa-eye"></i></li>
						<li>
							<a href="#">좋아요 <i class="fas fa-heart"></i></a>
						</li>
					</ul>
				</footer>
			</article>
		</div>
		<!-- sidebar -->
		<section th:replace="fragments/sidebar::sidebar"></section>
		<th:block layout:fragment="script">
			<script src="assets/js/singlePost.js"></script>
		</th:block>
	</div>
</html>
